.popup__input {
  color: black;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  align-self: center;
  padding-bottom: 13px;
  margin: auto 36px 37px 36px;
  min-width: 358px;
}

@media screen and (max-width: 495px) {
  .popup__input {
    min-width: 238px;
  }
}
