.profile__edit {
  display: grid;
  grid-template-areas:
    "title edit"
    "subtitle .";
  gap: 16px 18px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 415px;
}

@media screen and (max-width: 980px) {
  .profile__edit {
    gap: 14px 10px;
  }
}
