.profile__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 415px;
  margin: 0;
}

@media screen and (max-width: 980px) {
  .profile__subtitle {
    margin: 0 auto;
    grid-area: subtitle;
  }
}

@media screen and (max-width: 495px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}
