.profile__buttons-add {
  background-image: url("../../../images/add-icon.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid white;
  transition: 0.1s;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  cursor: pointer;
}
.profile__buttons-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 980px) {
  .profile__buttons-add {
    align-self: center;
    width: 282px;
    margin: 36px auto 0px;
  }
}
