.footer {
  color: #545454;
  font-size: 18px;
  line-height: 22px;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 50px;
    margin-bottom: 36px;
  }
}
