.popup__section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  align-items: center;
  border-radius: 10px;
}

@media screen and (max-width: 495px) {
  .popup__section {
    min-width: 282px;
  }
}
